<h1>Lista de productos</h1>

{{#each products}}
    <h2> {{this.title}}</h2>
    <p> {{this.Descripción}}</p>
    <p> {{this.Price}}</p>
    <p> {{this.Stock}}</p>
     <p> {{this.Category}}</p>
     <p> {{this.Thumbnails}}</p>
{{/each}}